project:
  type: website
  output-dir: docs

website:
  description: "A blog built with Quarto"
  draft-mode: unlinked
  site-url: https://your-website-url.example.com # you must change this appropriately for RSS feeds to work properly
  title: "Python Data Blog"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



